@media only screen and (max-width: 1024px) {
    #canvas, #canvas-div, .start-menu {
        width: 500px;
        height: 500px;
    }
    .start-menu h4 {
        font-size: 3vw;
    }
}
@media only screen and (max-width: 768px) {
    #canvas, #canvas-div, .start-menu {
        width: 400px;
        height: 400px;
        margin-top: 100px;
    }
    .start-menu {
        border-width: 8px;
        
    }
}
@media only screen and (max-width: 470px) {
    #canvas, #canvas-div, .start-menu {
        width: 300px;
        height: 300px;
        margin-top: 100px;
    }
    .start-menu {
        border-width: 6px;
    }
}

