:root {
    --primary-color: rgb(184, 177, 159);
    --secondary-color: rgb(174, 98, 6);
    --letter-font-primary: black;
    --letter-font-secondary: rgb(19, 87, 19);
    --tertriary-color: rgb(114, 16, 16);
    --background: rgb(198, 178, 178);
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--primary-color);
}
body {
    background-color: var(--background);
}
header {
    background-color: var(--secondary-color);
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
header h1  {
    letter-spacing: .5em;
    color: var(--letter-font-secondary);
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 3px solid var(--tertriary-color);
}

#header-info {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 1%;
}
#header-info div {
    margin-bottom: 10px;
}
#header-info span {
    letter-spacing: 3px;
    font-size: 2vw;
    font-weight: normal;
    background-color: var(--tertriary-color);
    padding: 2px 15px;
    color: var(--primary-color)

}
#header-info h2 {
    display: inline;
    color: var(--letter-font-primary);
    font-weight: bolder;
    font-size: 2vw;
    letter-spacing: 2px;
}
#reset-highscore {
    width:auto;
    display:block;
    margin-top: 15px;
}

header h1 {
    font-size: 4vw;
}
header h2 {
    font-size: 2vw;
}
.start-menu h4 {
    position: relative;
    color:var(--tertriary-color);
    top: -100px;
    font-size: 3vw;
    display: inline;
    padding-left: 60%;
}
#score {
    color: var(--letter-font-secondary)
}
#canvas {
    z-index: -1;
    background-color: rgb(60, 50, 50);
    width: 500px;
    height: 500px;
    margin: auto;
    display: inline;
    position: absolute;
    top: 18vw;
    bottom: 0;
    left: 0;
    right: 0;
}
.start-menu {
    border: 10px solid var(--secondary-color);
    width: 500px;
    height: 500px;
    padding: 0;
    margin: auto;
    display: block;
    position: absolute;
    top: 18vw;
    bottom: 0;
    left: 0;
    right: 0;
}
.start-menu h3 {
    text-align: center;
    position: relative;
    top: 50%;
    background-color:var(--letter-font-secondary);
    color: white;
    padding: 15px 0 15px;
}
.flew-row {
    display: flex;
    justify-content: space-between;
}
#reset {
    padding: .2vw 2.5vw;
    display: block;
    margin: 0 auto;
    margin-top: 50%;
    border-radius: 20px;
    border: 2px solid black;
    font-size: 2vw;
}
#reset-highscore {
    padding: .3vw 1.5vw;
    display: block;
    margin: 0 auto;
    margin-top: 5px;
    border-radius: 20px;
    border: 2px solid black;
    font-size: 1.6vw;
}
#reset-highscore:hover {
    box-shadow: none;
}

input {
    background-color: var(--letter-font-secondary);
    color: white;
}
input:hover {
    color: var(--secondary-color);
    border-width: 1px;
}
input:active {
    color:white;
    border-width: 1px;

}
